body{
    background: #ffffff;
}

.fatherSize{
    width: 1400px;
    background: white;
}

.bg-image{
    display: flex;
    width: 100%;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.contact *{
    font-family: Arial, Helvetica, sans-serif;
}