<!-- your html code here -->
<div class="fatherSize bg-white">
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta impedit ipsa tempora voluptates similique dolore vel fuga aperiam, molestias illum soluta laboriosam alias, repellat itaque ullam aliquid voluptatum dignissimos fugit.</p>
    <form>
        <div class="row justify-content-center mb-3">
          <div class="col-sm-2">
            <label for="inputEmail3" class="col-sm-12 col-form-label text-end"><strong>Your E-mail</strong></label>
          </div>
          <div class="col-sm-4">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-2">
            <label for="exampleFormControlTextarea1" class="col-sm-12 col-form-label text-end"><strong>Your message</strong></label>
          </div>
          <div class="col-sm-4">
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please enter your message here..."></textarea>
          </div>
          <div class="row justify-content-center mt-3">
          <div class="col-sm-6">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="button">Submit</button>
          </div>
          </div>
        </div>       
        </div>
</div>