<!-- your html code here -->
<div class="contact my-5 p-5 text-dark.bg-gradient">    
      <h2 class="fw-bold fs-1">Contact</h2>
      <p class="fs-5">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta feliz euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

      <div class="row row justify-content-center">

      <form class="col-lg-7 border py-3">

        <div class="row justify-content-end mb-3">
          <div class="col-md-3">
            <label for="inputEmail3" class="col-sm-12 col-form-label text-end fw-bold fs-6">Your E-mail</label>
          </div>
          <div class="col-md-9">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Your email" required>
          </div>
        </div>

        <div class="row justify-content-end">          
          <div class="col-md-3">
            <label for="exampleFormControlTextarea1" class="col-sm-12 col-form-label text-end fw-bold fs-6">Your message</label>
          </div>
          <div class="col-md-9">
            <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 8rem" placeholder="Please enter your message here..." required></textarea>
          </div>
        </div>

        <div class="row justify-content-center mt-3">
          <div class="col-md-12">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
          </div>
        </div>

      </form>
    </div>

</div>