<!-- your html code here -->
<h2>Porfolio</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptas dolores corporis blanditiis atque distinctio? Laudantium corporis, voluptatum laborum suscipit iste quidem id possimus velit?</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://raw.githubusercontent.com/Anibal-JPG/group-2/master/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione at maiores impedit, voluptatum suscipit expedita.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://raw.githubusercontent.com/Anibal-JPG/group-2/master/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem rem voluptates quae veritatis alias aliquam.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://raw.githubusercontent.com/Anibal-JPG/group-2/master/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique sint cupiditate, sunt perspiciatis eligendi quas.
          </p>
        </div>
      </div>
    </div>
  </div>