<!-- your html code here -->
<div class="container-fluid my-2">  
    <div class="d-flex flex-row">
        <img src="https://picsum.photos/200" class="rounded-circle float-start" alt="picsun">
        <div class="container-fluid"> 
            <h2>The Second Heading <span style="color:rgba(179, 179, 179, 0.871)">Is Pretty Cool Too</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>