<div class="container-fluid fatherSize">
    <div class="row">
        <div class="col-12 bg-image" style="height: 600px;"> 
            <div class="container-fluid fatherPCenter">
                <div>
                    <h2 class="pCenter" style="font-size: 9rem;">One page wonder</h2>  
                </div>
                <div>
                    <h2 class="pCenter" style="font-size: 5rem;">will knockyours socks off</h2> 
                </div>
            </div>
        </div>
    </div>
</div>